@{
    ViewBag.Title = "About";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title.</h1>
        <p class="lead-text text-muted">@ViewBag.Message</p>
    </div>
</section>

<div class="row mb-3">
    <div class="col-md mt-3 mb-3">
        <div class="k-card">
            <div class="k-card-header">
                Card Header
            </div>
            <div class="k-card-body">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="k-card-actions">
                <span class="k-button k-button-md k-button-rectangle k-rounded-md k-button-flat k-button-flat-primary">Action 1</span>
                <span class="k-button k-button-md k-button-rectangle k-rounded-md k-button-flat k-button-flat-primary">Action 2</span>
            </div>
        </div>
    </div>
    <div class="col-md mt-3 mb-3">
        <div class="k-card">
            <div class="k-card-header">
                Card Header
            </div>
            <div class="k-card-body">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="k-card-actions">
                <span class="k-button k-button-md k-button-rectangle k-rounded-md k-button-flat k-button-flat-primary">Action 1</span>
                <span class="k-button k-button-md k-button-rectangle k-rounded-md k-button-flat k-button-flat-primary">Action 2</span>
            </div>
        </div>
    </div>
    <div class="col-md mt-3 mb-3">
        <div class="k-card">
            <div class="k-card-header">
                Card Header
            </div>
            <div class="k-card-body">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="k-card-actions">
                <span class="k-button k-button-md k-button-rectangle k-rounded-md k-button-flat k-button-flat-primary">Action 1</span>
                <span class="k-button k-button-md k-button-rectangle k-rounded-md k-button-flat k-button-flat-primary">Action 2</span>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 class="font-weight-normal">Kendo UI TreeView</h4>
    <p>
        Use this area to provide additional information.
    </p>
    <ul id="links-treeview">
        <li>
            <div>
                <a class="k-link k-in" href="/Home">Home</a>
            </div>
        </li>
        <li>
            <div>
                <a class="k-link k-in" href="/Home/About">About</a>
            </div>
        </li>
        <li>
            <div>
                <a class="k-link k-in" href="/Home/Contact">Contact</a>
            </div>
        </li>
    </ul>
</div>

<script>
    $(function () {
        $("#links-treeview").kendoTreeView();
    });
</script>